aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1733331917983/work
aiohttp @ file:///D:/bld/aiohttp_1734596894871/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anthropic @ file:///home/conda/feedstock_root/build_artifacts/anthropic_1737485427027/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1734348785146/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///D:/bld/cffi_1725560706917/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///D:/bld/click_1734858834134/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
dataclasses-json @ file:///home/conda/feedstock_root/build_artifacts/dataclasses-json_1734217732310/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1733362299471/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
frozenlist @ file:///D:/bld/frozenlist_1729699471662/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1734650190311/work
greenlet @ file:///D:/bld/greenlet_1734532814363/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httptools @ file:///D:/bld/httptools_1732707690819/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
httpx-sse @ file:///home/conda/feedstock_root/build_artifacts/httpx-sse_1734732046715/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1736350098712/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
jiter @ file:///D:/bld/jiter_1734065511739/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///D:/bld/jsonpointer_1725302960531/work
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1737435950126/work
langchain-anthropic @ file:///home/conda/feedstock_root/build_artifacts/langchain-anthropic_1737172876153/work
langchain-community @ file:///home/conda/feedstock_root/build_artifacts/langchain-community_1737440709640/work
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1737429249068/work
langchain-openai @ file:///home/conda/feedstock_root/build_artifacts/langchain-openai_1737324564263/work
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1736285587843/work
langgraph @ file:///home/conda/feedstock_root/build_artifacts/langgraph_1737491509742/work
langgraph-checkpoint @ file:///home/conda/feedstock_root/build_artifacts/langgraph-checkpoint_1737014482250/work
langgraph-cli==0.1.68
langgraph-sdk @ file:///home/conda/feedstock_root/build_artifacts/langgraph-sdk_1736449628000/work
langserve==0.3.1
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1737099297406/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///D:/bld/markupsafe_1733219614059/work
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1736698460822/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
msgpack @ file:///D:/bld/msgpack-python_1725975250448/work
multidict @ file:///D:/bld/multidict_1729065636540/work
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1733230897951/work
numpy @ file:///D:/bld/numpy_1707225528937/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=537f0573fefb1e93b3633e8a79102e6b6d2911e09e0a90008993efef4242448e
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1737410806020/work
orjson @ file:///D:/bld/orjson_1737229069192/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
propcache @ file:///D:/bld/propcache_1733391832841/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1736458246045/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/pydantic-settings_1735650433384/work
pydantic_core @ file:///D:/bld/pydantic-core_1734571360609/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pypdf @ file:///home/conda/feedstock_root/build_artifacts/pypdf_1734484468633/work/dist
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
PyYAML @ file:///D:/bld/pyyaml_1737454660454/work
regex @ file:///D:/bld/regex_1730952204165/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1736499780799/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1733344384719/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1733649050774/work
tiktoken @ file:///D:/bld/tiktoken_1728084112412/work
tokenizers @ file:///D:/bld/tokenizers_1732733984122/work/bindings/python
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typer==0.15.1
typer-slim==0.15.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
typing_inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1733845867367/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
uvicorn @ file:///D:/bld/uvicorn_1734292951833/work
watchfiles @ file:///D:/bld/watchfiles_1736550434446/work
websockets @ file:///D:/bld/websockets_1737358176804/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
yarl @ file:///D:/bld/yarl_1733428816531/work
zstandard==0.23.0
